.container {
  padding: 15rem 33.7rem;
}

@media screen and (max-width: 1740px) {
  .container {
    padding: 15rem 25.7rem;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    padding: 15rem 18.7rem;
  }
}

@media screen and (max-width: 1430px) {
  .container {
    padding: 15rem 12.7rem;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 7rem 10.7rem;
  }
}

@media screen and (max-width: 930px) {
  .container {
    padding: 5rem 6.7rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 5rem 2.7rem;
  }
}

@media screen and (max-width: 460px) {
  .container {
    padding: 3rem 1.7rem;
  }
}
