.container {
  text-align: center;
  padding: 5rem;
  font-size: 1.5rem;
}

.container > a {
  font-size: inherit;
  color: inherit;
  transition: color 0.4s ease;
}

.container > a:hover {
  font-size: inherit;
  color: var(--color-primary);
}

.text {
}
