.background {
  background-color: var(--color-background);
}

.container {
}

.content {
  z-index: 1;
  position: relative;
  display: grid;
  max-width: 150rem;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 4rem;
  align-items: center;
}

.first {
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  margin-bottom: 1rem;
}

.second {
  grid-row: 1 /4;
}

.third {
  grid-row: 2;
  grid-column: 1;
}

.fourth {
  grid-row: 3;
  grid-column: 1;
  align-self: start;
}

.greeting {
  color: white;
  font-size: 3.1rem;
}

.name {
  color: var(--color-primary);
  font-size: 7.6rem;
  font-weight: 500;
}

.work {
  font-size: 3.9rem;
  font-weight: 400;
  color: white;
}

.description {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.pp {
  border-radius: 14px;
  box-shadow: 0 0 6px var(--shadow-primary);
}
