.background {
  background-color: var(--color-background);
}

.container {
}

.content {
  z-index: 1;
  position: relative;
  display: grid;
  max-width: 150rem;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 4rem;
  align-items: center;
}

.first {
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  margin-bottom: 1rem;
}

.second {
  grid-row: 1 /4;
}

.third {
  grid-row: 2;
  grid-column: 1;
}

.fourth {
  grid-row: 3;
  grid-column: 1;
  align-self: start;
}

.greeting {
  color: white;
  font-size: 3.1rem;
}

.name {
  color: var(--color-primary);
  font-size: 7.6rem;
  font-weight: 500;
}

.work {
  font-size: 3.9rem;
  font-weight: 400;
  color: white;
}

.description {
  padding-bottom: 2rem;
}

.pp {
  border-radius: 14px;
  box-shadow: 0 0 6px var(--shadow-primary);
}

.pagePaddingBottom {
}

@media screen and (max-width: 1300px) {
  .name {
    font-size: 6.6rem;
  }
}

@media screen and (max-width: 1150px) {
  .name {
    font-size: 5.6rem;
  }
  .work {
    font-size: 2.9rem;
  }
  .description {
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 1100px) {
  .greeting {
    font-size: 2.1rem;
  }
  .name {
    font-size: 4.6rem;
  }
  .work {
    font-size: 2rem;
  }
  .description {
    padding-bottom: 0rem;
    padding: 1rem 0;
  }
  .first {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 930px) {
  .content {
    grid-template-columns: 1fr;
    max-width: unset;
    text-align: center;
    justify-items: center;
  }
  .second {
    grid-row: 1;
    width: 40%;
  }
  .first {
    grid-row: 2;
  }
  .third {
    grid-row: 3;
  }
  .fourth {
    grid-row: 4;
  }
  .pagePaddingBottom {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 460px) {
  .pp {
    border-radius: 100%;
  }
  .second {
    width: 70%;
  }
}

@media screen and (max-width: 330px) {
  .name {
    font-size: 3.6rem;
  }
}
