.icon {
  stroke: var(--color-primary);
  flood-color: beige;
  height: 7rem;
  width: 7rem;
}

.icon > defs > filter > feFlood {
  flood-color: var(--color-primary);
}

.ts-icon-a {
  fill: none;
}
.ts-icon-b {
  filter: url(#ts-icon-e);
}
.ts-icon-c {
  filter: url(#ts-icon-c);
}
.ts-icon-d {
  filter: url(#ts-icon-a);
}

@media screen and (max-width: 930px) {
  .icon {
    height: 6rem;
    width: 6rem;
  }
}
